body {
    background-color: #F2FFFC;
}

main h1 {
    font-family: "Open Sans Condensed", sans-serif;
    background-color: #851944;
    color: #FFFFFF;
    font-size: 60px;
    text-align: center;
}

h2 {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 40px;
}

p {
    font-family: "Crimson Text";
    text-align: justify;
}

main a {
    text-decoration: none;
    color: #851944;
}

main a:hover {
    color: chocolate;
}